<div class="l-grid__item animateslide">
    <div class="c-card">
      <div class="c-card__header">
        <h3>Select Student</h3>
        <div *ngIf="!selectAll" class="u-text--right u-text--teal" style="cursor: pointer;" (click)="AddAllStudent()">
          <div class="u-mt--8">
            <strong class="c-button">Select All</strong>
          </div>
        </div>
        <div *ngIf="selectAll" class="u-text--right u-text--teal" style="cursor: pointer;" (click)="RemoveAllStudent()">
          <div class="u-mt--8">
            <strong class="c-button">Remove All</strong>
          </div>
        </div>
      </div>
      <app-spinner *ngIf="loading"></app-spinner>
      <div class="c-card__body">
        <div style="text-align: center;" *ngIf="chats.length == 0">
          <h2 class="u-text--yellow">There's no student</h2>
        </div>
        <ul class="c-list" id="list" *ngIf="chats.length > 0">
          <li class="c-list__item">
            <div class="c-list__grid">
              <div class="u-text--left u-text--small u-text--medium">No</div>
              <div class="u-text--left u-text--small u-text--medium">Name</div>
              <div class="u-text--right u-text--small u-text--medium">Select</div>
            </div>
          </li>
          <li class="c-list__item"  *ngFor="let member of chats | paginate: {id: 'leaderboardPaginate', itemsPerPage: 5, currentPage: page};let indexOfElement=index">
            <div class="c-list__grid">
              <div class="c-flag c-place u-text--light u-bg-- u-bg--transparent">{{chats.indexOf(member)+1}}</div>
              <div class="c-media">
                <img class="c-avatar c-media__img" [src]="getSantizeUrl(member.imgUrl)" />
                <div class="c-media__content">
                  <div class="c-media__title">{{member.name}}</div>
                  <!-- <a class="c-media__link u-text--small" target="_blank">{{member.name}}</a> -->
                </div>
              </div>
              <div class="u-text--right u-text--yellow" style="cursor: pointer;" (click)="AddToMember(member)">
                <div class="u-mt--8">
                  <strong class="c-button">Add</strong>
                </div>
              </div>
            </div>
          </li>
          <li style="justify-content: center; display: flex;">
            <pagination-controls id="leaderboardPaginate" [maxSize]="5" [directionLinks]="true" (pageChange)="page = $event"></pagination-controls>
            <!-- <mat-paginator #paginator [length]="students.length"
            [pageSize]="10"
            aria-label="Select page"></mat-paginator> -->
          </li>
        </ul>
      </div>
    </div>
  </div>