.sheet {
    background-color: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='30' width='100%'><circle r='10' cx='20' cy='13' fill='%23888' /><line x1='80' x2='80' y1='0' y2='30' stroke='%23f00' /><line x1='0' x2='100%'  y1='28' y2='28' stroke='%2300f'/></svg>");
    background-repeat: repeat-y;
    padding: 0 20px 0 100px;
  }

.all-white {
  background-color: #fff;
  background-repeat: repeat-y;
  padding: 0 50px 0 50px;
}

.btn-edit-ico {
  cursor: pointer;
  display: flex; justify-content: end;
}

.btn-background {
  width: 100%;
  margin-bottom: 15px;
}
.btn-add {
  width: 100%;
  margin-bottom: 5px;
}

hr.solid {
  border-top: 3px solid #bbb;
}
  
  .textarea {
    font-family: cursive;
    font-size: 15px;
    line-break: anywhere;
    line-height: 30px;
    min-height: 80vh;
    color: var(--darkest);
    width: 680px;
  }

  .animate-text {
    transform: translateX(0%);
	  animation: slide-in-anim 0.5s ease-in backwards;
  }

  .hide-page-numbers /deep/ .ngx-pagination li:not(.pagination-previous):not(.pagination-next) {
    display: none;
  }

@keyframes slide-in-anim {
	60% {
		transform: translateX(-1%);
	}
	75% {
		transform: translateX(1%);
	}
	100% {
		transform: translateX(0%);
	}
}

.breathing-button {
  width: 25px;
  -webkit-animation: breathing 4s  infinite;
  animation: breathing 4s infinite;  
  }

.breathing-button:hover {
  -webkit-animation: none;
  animation: none;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  }

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  60% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    transform: scale(0.9);
  }
}

.form {
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

@media screen and (max-width: 700px) {
  .form {
    width: 100%;
  }
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 10px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.ic1 {
  margin-top: 10px;
}

.ic2 {
  margin-top: 20px;
}

.input {
  background-color: var(--input-container);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--color);
  font-size: 18px;
  height: 100%;
}

.cut {
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: var(--color);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}