<div class="l-grid">
    <div class="l-grid__item l-grid__item--sticky">
      <div class="c-card u-bg--light-gradient u-text--dark animatezoom" *ngIf="authenticated && isStudent">
        <div class="c-card__body">
          <div class="u-display--flex u-justify--space-between">
            <div class="u-text--left">
              <div class="u-text--small">My Rank</div>
              <h2 *ngIf="logStudentIndex == 0">{{logStudentIndex+1}}st Place</h2>
              <h2 *ngIf="logStudentIndex == 1">{{logStudentIndex+1}}nd Place</h2>
              <h2 *ngIf="logStudentIndex == 2">{{logStudentIndex+1}}rd Place</h2>
              <h2 *ngIf="logStudentIndex != 2 && logStudentIndex != 1 && logStudentIndex != 0">{{logStudentIndex+1}} Place</h2>
            </div>
            <div class="u-text--right">
              <div class="u-text--small">My Score</div>
              <h2>{{logStudentScore}}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="c-card animatezoom">
        <div class="c-card__body">
          <div class="u-text--center" id="winner">
            <div class="u-text-small u-text--medium u-mb--16">Top Student Last Week</div>
              <div ngAnimatedBorderWrapper>
                <div ngAnimatedBorder [abBackgroundColor]="'#333'" [abBorderWidth]="['51px']" [abBorderRadius]="['50%']" class="c-avatar c-avatar--lg img-animation">
                  <img class="c-avatar c-avatar--lg" [src]="getSantizeUrl(winner.imgUrl)"/>
                </div>
              </div>  
              <h3 class="u-mt--16">{{winner.name}}</h3>
              <span class="u-text--teal u-text--small">{{winner.messageCount?.length}}</span>
          </div>
        </div>
      </div>

      <div class="c-card animatezoom" style="cursor: pointer;" (click)="directNotes()" *ngIf="authenticated && isStudent">
        <div class="c-card__body">
          <div class="u-text--center" id="challenges">
            <div class="u-text--primary u-text--primary u-mb--16">View Chat Notes</div>
            <span class="u-text--light u-text--small">Click here to view your notes/chats in this lecture meeting.</span>
          </div>
        </div>
      </div>

      <div class="c-card animatezoom" *ngIf="authenticated && isStudent">
        <div class="c-card__body">
          <div class="u-text--start" id="challenges">
            <div class="u-text--primary u-text--primary u-mb--16">This Week Challenges:</div>
              <table *ngFor="let i of challenges" width="100%">
                <tr>
                  <td style="width: 100%;"><span class="u-text--light u-text--small">{{i.id}}. {{i.challenge}}</span></td>
                  <td>✔️</td>
                </tr>
              </table> 
          </div>
        </div>
      </div>
      
    </div>
    <div class="l-grid__item animateslide">
      <div class="c-card">
        <div class="c-card__header">
          <h3>{{channel.subjectCode}}</h3>
          <select class="c-select animatezoom">
            <option selected="selected">{{myPastDate | date: 'mediumDate'}} - {{myCurrentDate | date: 'mediumDate'}}</option>
          </select>
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
        <div class="c-card__body">
          <ul class="c-list" id="list">
            <li class="c-list__item">
              <div class="c-list__gridleaderboard">
                <div class="u-text--left u-text--small u-text--medium">Rank</div>
                <div class="u-text--left u-text--small u-text--medium">Name</div>
                <div class="u-text--right u-text--small u-text--medium">Questions</div>
                <div class="u-text--right u-text--small u-text--medium">Points</div>
              </div>
            </li>
            <li class="c-list__item" *ngFor="let member of chats | paginate: {id: 'leaderboardPaginate', itemsPerPage: 5, currentPage: page};let indexOfElement=index">
              <div class="c-list__gridleaderboard">
                <div *ngIf="chats.indexOf(member) +1 == 1" class="c-flag c-place u-text--dark u-bg--yellow u-bg--transparent">{{chats.indexOf(member)+1}}</div>
                <div *ngIf="chats.indexOf(member)+1 == 2" class="c-flag c-place u-text--dark u-bg--teal u-bg--transparent">{{chats.indexOf(member)+1}}</div>
                <div *ngIf="chats.indexOf(member)+1 == 3" class="c-flag c-place u-text--dark u-bg--orange u-bg--transparent">{{chats.indexOf(member)+1}}</div>
                <div *ngIf="chats.indexOf(member)+1 != 1 && chats.indexOf(member)+1 != 2 && chats.indexOf(member)+1 != 3" class="c-flag c-place u-bg--transparent">{{chats.indexOf(member)+1}}</div>
                <div class="c-media">
                  <img class="c-avatar c-media__img" [src]="getSantizeUrl(member.imgUrl)" />
                  <div class="c-media__content">
                    <div class="c-media__title">{{member.name}}</div>
                    <a class="c-media__link u-text--small" target="_blank">{{member.name}}</a>
                  </div>
                </div>
                <div *ngIf="chats.indexOf(member)+1 == 1" class="u-text--right c-kudos u-text--yellow">
                  <div class="u-mt--8">
                    <strong>{{member.messageAskCount}}</strong>
                  </div>
                </div>
                <div *ngIf="chats.indexOf(member)+1 == 2" class="u-text--right c-kudos u-text--teal">
                  <div class="u-mt--8">
                    <strong>{{member.messageAskCount}}</strong>
                  </div>
                </div>
                <div *ngIf="chats.indexOf(member)+1 == 3" class="u-text--right c-kudos u-text--orange">
                  <div class="u-mt--8">
                    <strong>{{member.messageAskCount}}</strong>
                  </div>
                </div>
                <div *ngIf="chats.indexOf(member)+1 != 1 && chats.indexOf(member)+1 != 2 && chats.indexOf(member)+1 != 3" class="u-text--right c-kudos">
                  <div class="u-mt--8">
                    <strong>{{member.messageAskCount}}</strong>
                  </div>
                </div>
                <div *ngIf="chats.indexOf(member)+1 == 1" class="u-text--right c-kudos u-text--yellow">
                  <div class="u-mt--8">
                    <strong>{{member.messageCount?.length}}</strong>
                  </div>
                </div>
                <div *ngIf="chats.indexOf(member)+1 == 2" class="u-text--right c-kudos u-text--teal">
                  <div class="u-mt--8">
                    <strong>{{member.messageCount?.length}}</strong>
                  </div>
                </div>
                <div *ngIf="chats.indexOf(member)+1 == 3" class="u-text--right c-kudos u-text--orange">
                  <div class="u-mt--8">
                    <strong>{{member.messageCount?.length}}</strong>
                  </div>
                </div>
                <div *ngIf="chats.indexOf(member)+1 != 1 && chats.indexOf(member)+1 != 2 && chats.indexOf(member)+1 != 3" class="u-text--right c-kudos">
                  <div class="u-mt--8">
                    <strong>{{member.messageCount?.length}}</strong>
                  </div>
                </div>
              </div>
            </li>
            <li style="justify-content: center; display: flex;">
              <pagination-controls id="leaderboardPaginate" [maxSize]="5" [directionLinks]="true" (pageChange)="page = $event"></pagination-controls>
              <!-- <mat-paginator #paginator [length]="students.length"
              [pageSize]="10"
              aria-label="Select page"></mat-paginator> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>