<div class="l-wrapper">
  <div class="c-header">
    <h1 class="c-logo">Student Leaderboard</h1>
    <!-- <img class="c-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/km-logo-color.svg" draggable="false"/> -->
    <div *ngIf="authenticated; then welcomeUser else signInPrompt"></div>
    <ng-template #welcomeUser>
      <div *ngIf="isStudent; then studentPage else lecturerPage"></div>
      <ng-template #lecturerPage>
        <div class="nav-full">
            <!-- <button style="margin-right: 16px;" class="c-button c-button--primary" role="button" (click)="">ListChannlMessage</button> -->
            <button style="margin-right: 16px;" class="c-button c-button--primary" role="button" *ngIf="this.router.url != '/'" (click)="back()">Back</button>
            <button style="margin-right: 16px;" class="c-button c-button--primary" role="button" (click)="channelRegister()" matTooltip="Register new subject">Register Channel</button>
            <button class="c-button c-button--primary" role="button" (click)="signOut()" >Sign Out</button>  
        </div>
        <div class="hide-menu">
          <div class="menu-small" *ngIf="this.router.url != '/'" (click)="back()">
            Back
          </div>
          <div class="menu" [ngClass]="{'menu__active': showMyClass}" id="menu-drop" (click)="clickEvent()">
            <span class="select">Menu</span>
            <div class="menu__icon-box">
                <div class="menu__icon"></div>
            </div>
            <div class="menu__dropdown">
              <div class="menu__dropdown-option" (click)="channelRegister()">Register Channel</div>
              <div class="menu__dropdown-option" (click)="signOut()">Sign Out</div>
            </div>
          </div>
        </div>
        
      </ng-template>
      <ng-template #studentPage>
        <div class="nav-full">
          <!-- <button style="margin-right: 16px;" class="c-button c-button--primary" role="button" (click)="">ListChannlMessage</button> -->
          <button style="margin-right: 16px;" class="c-button c-button--primary" role="button" *ngIf="this.router.url != '/'" (click)="back()">Back</button>
          <!-- <button style="margin-right: 16px;" class="c-button c-button--primary" role="button" (click)="channelAdd()" matTooltip="Add new subject">Add Channel</button> -->
          <button class="c-button c-button--primary"  role="button" (click)="signOut()" >Sign Out</button>  
      </div>
      <div class="hide-menu">
        <div class="menu-small" *ngIf="this.router.url != '/'" (click)="back()">
          Back
        </div>
        <div class="menu" [ngClass]="{'menu__active': showMyClass}" id="menu-drop" (click)="clickEvent()">
          <span class="select">Menu</span>
          <div class="menu__icon-box">
              <div class="menu__icon"></div>
          </div>
          <div class="menu__dropdown">
            <div class="menu__dropdown-option" (click)="signOut()">Sign Out</div>
          </div>
        </div>
      </div>
      </ng-template>
        
    </ng-template>
    <ng-template #signInPrompt>
        <button class="c-button c-button--primary animatezoom" role="button" (click)="signIn()" matTooltip="Sign In using UTeM account" >Sign In</button>  
      </ng-template>
  </div>


  <div class="l-grid-col" *ngIf="!authenticated">
    <div class="l-grid-child">
      <div class="c-card animatezoom">
        <div class="c-card__body">
          <div class="l-grid">
            <div class="l-grid__item">
              <img src='../../assets/ss1.PNG' width="300px">
            </div>
            <div class="l-grid__item">
              
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="c-card animatezoom">
        <div class="c-card__body">
          <div class="l-grid">
            <div class="l-grid__item">
              <img src='../../assets/ss2.PNG' width="300px">
            </div>
            <div class="l-grid__item">
              
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
  <router-outlet *ngIf="authenticated && !loading"></router-outlet>
</div>